# Python Virtual Environment
venv/
.venv/
ENV/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment Variables & Secrets
.env
.env.*
!.env.example

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
logs/
